/*https://kuler.adobe.com/#themeID/2204308*/

body {
    background-color: #174C5B;
    /*The following three properties are needed, to have the #banner div go to the very border of the page.*/
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px
}

div {
    margin: 0;
    padding: 0;
}


#content {
    /*Setting the width to the desired value, and margin-left as well as margin-right to auto will center it inside the page.*/
    width: 1300px;
    overflow: hidden; /* will contain if #first is longer than #second */
    border: 2px solid #061A1F;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


#banner {
    overflow: hidden;
    /*Setting the width to the image's width, and margin-left as well as margin-right to auto will center it inside its parent.*/
    /*Not needed anymore, this div just fills the full width, and the image is centering itself inside its parent.*/
    /*width: 100%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

    /*This, together with the fact that the div fills the full width of the #root div, will lead to the different-coloured block at the top.*/
    background-color: #0F3D48;

    /*Can be uncommented if some whitespace, with #banner's background-colour below the banner is desired.*/
    /*padding-bottom: 20px;*/
    /*Can be uncommented if some whitespace, with #content's background-colour below the banner is desired.*/
    /*margin-bottom: 20px;*/

    /*A fine line between the two different coloured blocks (#banner and #content).*/
    /*Todo: How about a bright colour? For starters, plain white doesn't look too bad.*/
    border-bottom: 2px solid #051317;
}

#banner-image {
    /*Image-specific, has to be changed when a new image is added!*/
    width: 1300px;
    height: 370px;
    /* The following three properties will center the image horizontally inside the surrounding div.*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#logo img {
}


/*Todo: When a note in the sidebar gets broken into two lines, it'll mess up the corresponding .main div.*/
.sidebar {
    width: 250px;
    float:left; /* add this */
    padding: 10px;
    color: #EDEDE9;
    font-weight: bold;
}

.main {
    padding: 10px;
    overflow: hidden;
    color: #EDEDE9;
    border-left: 1px solid lightgray;
}




#navigation
{
    padding: 3px 0;
    margin-left: 0;
    border-bottom: 1px solid #778;
    font: bold 12px Verdana, sans-serif;
}

#navigation li
{
    list-style: none;
    margin: 0;
    display: inline;
}

#navigation li a
{
    padding: 3px 0.5em;
    margin-left: 3px;
    border: 1px solid #778;
    border-bottom: none;
    background: #366774;
    text-decoration: none;
}

a:link {
    color: #ECECE7;
}

a:visited {
    color: #8fa1a5;
}

a:hover {

}

a:active {
}

#navigation li a:hover
{
    color: #000;
    background: #AAE;
    border-color: #227;
}

.image-wrap {
    float: right;
    margin: 10px;
    width: 300px;
    border: 1px solid #d3d3d3;
}



#navigation li a#current
{
    color: white;
    border-bottom: 1px solid white;
}
